<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/CampingSimulator</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="fr/iut/model/mapping.xml"/>
        <mapping class="fr.iut.model.AuthorizationEntity"/>
        <mapping class="fr.iut.model.ClientEntity"/>
        <mapping class="fr.iut.model.ClientHasProblemEntity"/>
        <mapping class="fr.iut.model.EmployeeEntity"/>
        <mapping class="fr.iut.model.LocationEntity"/>
        <mapping class="fr.iut.model.LocationHasProblemEntity"/>
        <mapping class="fr.iut.model.LogEntity"/>
        <mapping class="fr.iut.model.MapEntity"/>
        <mapping class="fr.iut.model.ProblemEntity"/>
        <mapping class="fr.iut.model.ProductEntity"/>
        <mapping class="fr.iut.model.PurchaseEntity"/>
        <mapping class="fr.iut.model.ReservationEntity"/>
        <mapping class="fr.iut.model.RestockingEntity"/>
        <mapping class="fr.iut.model.SpotEntity"/>
        <mapping class="fr.iut.model.SpotTypeEntity"/>
        <mapping class="fr.iut.model.SupplierEntity"/>
        <mapping class="fr.iut.model.SupplierHasProductEntity"/>
        <mapping class="fr.iut.model.TaskEntity"/>
        <mapping class="fr.iut.model.UserEntity"/>
        <mapping class="fr.iut.model.UserHasAuthorizationEntity"/>
        <mapping class="fr.iut.model.PurchasesOnReservationEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>